<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.planungsapp">

    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CreateProjects"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListProjects"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainCalender"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainLogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewProject"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddUserToProject"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateUserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateDate" />
        <activity android:name=".ViewDate"></activity>
        <activity
            android:name=".ChangeTasks"
            android:label="@string/title_activity_change_tasks"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>